body, html{
    width: 100%;
    height: 100%;

    min-width: 1200px;
    min-height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;

}
.main-wrapper{
    width: 80%;
    height: 90%;
    background-color: var(--main-color);
    border-radius: var(--main-border-radius);
    box-shadow: 0 0 5px black;
}
header{
    width: 100%;
    height: 12%;
    padding: var(--main-padding);
    position: relative;
}
.header-wrapper{
    width: 100%;
    height: 100%;

    background-color: var(--main-color);
    

    display: flex;
    flex-direction: row;
}
.header-element{
    padding: var(--main-padding);
}
.header-logo{
    height: 100%;
}
.header-page-name{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-page-name>p, .header-page-name>img{
    margin-left: 20px;
}
.header-icon{
    width: 35px;
    height: 35px;

}
.header-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    font-size: 15px;
}
.header-profile>img{
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

main{
    width: 100%;
    height: 88%;

    display: flex;
    flex-direction: row;

}

.navigation-wrapper{
    width: 20%;
    height: 100%;
    padding: var(--main-padding);
}
.navigation-box{
    width: 100%;
    height: 100%;
    border-radius: var(--main-border-radius);
    background-color: var(--after-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.navigation-element{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: 3px solid rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: .3s;
}
.navigation-element:hover{
    background-color: var(--active-color);
    border-color: var(--elements-color);
}
.navigation-element>p{
    margin-left: 10px;
}
.navigation-element>.navigation-icon{
    margin-left: 40px;
    margin-right: 10px;
}
.navigation-icon{
    width: 30px;
    height: 30px;
}

.pages-wrapper{
    width: 80%;
    height: 100%;
    padding: var(--main-padding);
}
.pages-box{
    width: 100%;
    height: 100%;
    border-radius: var(--main-border-radius);
    background-color: var(--after-color);
}
.page-home{
    width: 100%;
    height: 100%;
    position: relative;
}

.team-img{
    width: 100px;
    height: 100px;

    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .7;
    box-shadow: 0 0 5px black;
    cursor: pointer;
    transition: .3s;
}
.team-img:hover{
    opacity: 1;
    width: 120px;
    height: 120px;
    animation-play-state: paused;
    z-index: 2;
}

.team-one{
    top: 50%;
    left: 50%;
    animation: anim-team 8.1s infinite alternate-reverse;
}
.team-two{
    width: 90px;
    height: 90px;
    top: 33%;
    left: 56%;
    animation: anim-team 5.9s infinite alternate-reverse;
}
.team-three{
    width: 70px;
    height: 70px;
    top: 60%;
    left: 60%;
    animation: anim-team 7.4s infinite alternate-reverse;
}
.team-four{
    width: 80px;
    height: 80px;
    top: 35%;
    left: 42%;
    animation: anim-team 6.3s infinite alternate-reverse;
}
.team-five{
    width: 55px;
    height: 55px;
    top: 59%;
    left: 43%;
    animation: anim-team 8s infinite alternate-reverse;
}
.team-six{
    width: 73px;
    height: 73px;
    top: 49%;
    left: 36%;
    animation: anim-team 6s infinite alternate-reverse;
}
.team-seven{
    width: 90px;
    height: 90px;
    top: 69%;
    left: 50%;
    animation: anim-team 5s infinite alternate-reverse;
}
.team-eight{
    width: 45px;
    height: 45px;
    top: 50%;
    left: 60%;
    animation: anim-team 8.5s infinite alternate-reverse;
}

@keyframes anim-team {
    50%{
        transform: translate(-30%, -52%);
    }
    100%{
        transform: translate(-37%, -45%);
    }
}